parameters:
    level: 1
    paths:
        - public/index.php
        - modules
        - noyau
        - _assets/includes
        - _assets/utils
    ignoreErrors:
    # Faux positifs permanents : les vues reçoivent leurs variables du contrôleur
    -
        identifier: variable.undefined
        path: modules/views/*

